body{
font-family:Arial;
background:#f4f4f4;
padding:40px;
}

.container{
background:white;
padding:30px;
max-width:600px;
margin:auto;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
text-align:center;
}

.options label{
display:block;
margin:5px 0;
}

input{
width:100%;
padding:10px;
margin:8px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:12px;
background:#4CAF50;
color:white;
border:none;
border-radius:6px;
font-size:16px;
}

button:hover{
background:#45a049;
}